# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
.mypy_cache/
.pytest_cache/

# Virtual environments
venv/
cephadm-venv/
.venv/

# Environment
.env
*.env.local

# Ansible
*.retry
